@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed !important;
  top: 0;
  width: 100%;
}

.navbar a {
  /* display: block; */
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.header {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  /* background-color: #f7f7f7; */
  background-image: url("https://images.pexels.com/photos/163403/box-sport-men-training-163403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  /* background-image: url("https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  /* background-image: url("https://cdn.pixabay.com/photo/2014/12/12/00/49/boats-564922_960_720.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-text,
.parallax-title {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 25vw;
  font-style: italic;
}

.parallax-title::after {
  content: attr(text);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 0.15vw rgba(219, 179, 0, 0.253);
}

.logo {
  width: 25vw;
  animation: sneakerAnimation 2s cubic-bezier(0.25, 1, 0.5, 1) infinite
    alternate;
}

@keyframes sneakerAnimation {
  0%,
  10% {
    transform: translate(100vw, 0) rotate(15deg);
  }
  90%,
  100% {
    transform: translate(-5vw, -5vw) rotate(-30deg);
  }
}

/* ---- hr ----*/
.loading {
  margin: 70px 0 0 0;
}
.hr-loading {
  width: 700px;
  background-color: lightgrey;
  margin: auto;
}

/* ---- About me ----*/
.abt {
  border: 5px solid white;
  padding-bottom: 10px;
}
.abt h1 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
}
.hr-about {
  width: 120px;
  border: 1px solid grey;
  margin: auto;
  background-color: lightgray;
}
.about-logo {
  width: 200px;
  opacity: 0.8;
  overflow: hidden;
}
.abt-div p {
  max-width: 800px;
  font-family: sans-serif;
  padding: 30px 20px;
  text-align: center;

  font-size: 1.5rem;
}

.abt-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 870px) {
  .abt-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

/* .about-me {
  color: black;
  height: 40vh;
  background-color: lightgreen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.about-me h1 {
  text-align: center;
}
.about-me-page {
  display: flex;
  justify-content: space-evenly;
} */
/* --- second page ---- */

.slider-pgae {
  height: 100%;
  overflow-y: hidden;
  margin-top: -120px;
  margin-bottom: -120px;
}

.slides-nav {
  z-index: 99;
  position: absolute;
  right: -5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  color: #111;
}
@media (min-width: 54em) {
  .slides-nav {
    right: 2%;
  }
}
.slides-nav__nav {
  position: relative;
  right: 0;
  display: block;
  font-size: 1em;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}
.slides-nav button {
  position: relative;
  display: inline-block;
  padding: 0.35em;
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  overflow-x: hidden;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.slides-nav button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 0;
  background: #111;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.slides-nav button:hover {
  cursor: pointer;
  color: rgba(17, 17, 17, 0.75);
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.slides-nav button:hover:after {
  width: 100%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.slides-nav button:focus {
  outline: 0;
}
.is-sliding .slides-nav {
  pointer-events: none;
}

.slides {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  /* background: #fff; */
  -webkit-transition: background 1s cubic-bezier(0.99, 1, 0.92, 1);
  transition: background 1s cubic-bezier(0.99, 1, 0.92, 1);
}
.is-sliding .slides {
  background: #ededed;
  -webkit-transition: background 0.3s cubic-bezier(0.99, 1, 0.92, 1);
  transition: background 0.3s cubic-bezier(0.99, 1, 0.92, 1);
}

.slide {
  z-index: -1;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 80vh;
  -webkit-transition: z-index 1s ease;
  transition: z-index 1s ease;
}
.slide.is-active {
  z-index: 19;
  -webkit-transition: z-index 1s ease;
  transition: z-index 1s ease;
}
.slide__content {
  position: relative;
  margin: 0 auto;
  height: 95%;
  width: 95%;
  top: 2.5%;
}
@media (min-width: 54em) {
  .slide__content {
    height: 80%;
    width: 80%;
    top: 10%;
  }
}
.slide__header {
  z-index: 9;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow-y: hidden;
  -webkit-transform: translateX(5%);
  transform: translateX(5%);
}
@media (min-width: 54em) {
  .slide__header {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }
}
.slide__title {
  font-family: Montserrat, helvetica;
  font-size: 2.5em;
  font-weight: 700;
  color: #111;
  border: 0.5px solid white;
  text-shadow: 1px 1px white;
  border-radius: 5px;
  padding: 20px;
  overflow-y: hidden;
}

@media (min-width: 54em) {
  .slide__title {
    font-size: 5em;
  }
}
.slide__title .title-line {
  display: block;
  overflow-y: hidden;
}
.slide__title .title-line span {
  display: inline-block;
  -webkit-transform: translate3d(0, 140%, 0);
  transform: translate3d(0, 140%, 0);
  opacity: 0;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.8s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.8s ease;
  transition: transform 0.4s ease, opacity 0.8s ease,
    -webkit-transform 0.4s ease;
}
.slide__title .title-line span:nth-child(1) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.slide__title .title-line span:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.is-active .slide__title .title-line span {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  opacity: 1;
  -webkit-transition: opacity 0.1s ease,
    -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 0.1s ease,
    -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s ease,
    -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.is-active .slide__title .title-line:nth-of-type(2n) span {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide__figure {
  z-index: 7;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.is-sliding .slide__figure {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.slide__img {
  position: relative;
  display: block;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  -webkit-backface-visibility: hidden;
  height: 0%;
  width: 100%;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-filter 0.4s 0.1s ease;
  transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-filter 0.4s 0.1s ease;
  transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    filter 0.4s 0.1s ease;
  transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    filter 0.4s 0.1s ease, -webkit-filter 0.4s 0.1s ease;
}
.is-active .slide__img {
  height: 100%;
  opacity: 1;
  -webkit-transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-filter 0.4s 0.1s ease;
  transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-filter 0.4s 0.1s ease;
  transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1),
    filter 0.4s 0.1s ease;
  transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1),
    filter 0.4s 0.1s ease, -webkit-filter 0.4s 0.1s ease;
}
.is-sliding .slide__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*---- third section ---*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.image-container {
  position: relative;
  z-index: 2;
  width: 42vw;
  height: 58vw;
  margin: 0 auto;
  overflow: hidden;
}

.image-container__inner {
  width: 100%;
  height: 100%;
}

.proj {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

.text-container {
  position: absolute;
  z-index: 1;

  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(-50%);
}

.text-container__front {
  z-index: 3;
}
.text-container__front .parallax-text-project {
  color: transparent;
  -webkit-text-stroke: 0.2vw #f7f7f7;
}

.parallax-text-project {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 12vw;
  line-height: 10vw;
  text-transform: uppercase;
  white-space: nowrap;
  color: black;
  margin: 0;
}
.parallax-text-project:last-child {
  align-self: flex-end;
}

/*------- another -----*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.section-for-thegm {
  position: relative;
  padding: 10vw 0;
  margin-top: -120px;
  overflow: hidden;
}

.image-container {
  position: relative;
  z-index: 2;
  width: 15vw;
  height: 20vw;
  margin: 0 auto;
  overflow: hidden;
}

.image-container__inner {
  width: 100%;
  height: 100%;
  /* 
  width: 40vh;
  height: 50vh; */
}
.iphone {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

.text-container {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(-50%);
}

.text-container__front {
  z-index: 3;
}
.text-container__front .parallax-text,
.parallax-title {
  color: transparent;
  -webkit-text-stroke: 0.2vw #f7f7f7;
}
.parallax-text {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 12vw;
  line-height: 10vw;
  text-transform: uppercase;
  white-space: nowrap;
  background-image: linear-gradient(to right bottom, lightgray, black);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.5;
  margin: 0;
}
.parallax-title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 12vw;
  line-height: 10vw;
  text-transform: uppercase;
  white-space: nowrap;
  background-image: linear-gradient(to right bottom, lightgray, black);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
}
.parallax-text:last-child {
  align-self: flex-end;
}

.first-row {
  display: flex;
  justify-content: space-evenly;
}
.first-row p {
  width: 300px;
}

/*--------- Airlines Trends ---------*/
.airline-trends {
  padding: 100px 0;
}
.airline-box {
  margin: 80px 0;
}
.title-style h1 {
  padding: 40px 0;
}
.title-style {
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
}
.title-style::after {
  content: "";
  height: 100px;
  width: 200px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  transition: all 0.3s;
}
.title-style::before {
  content: "";
  height: 100px;
  width: 200px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #f992a6;
  border-bottom-color: #f992a6;
  transform: scale(0.1, 1);
}
.title-style:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.title-style:hover {
  box-shadow: 0 0 0 10px #f992a6;
  transition: 1s ease;
  letter-spacing: 2px;
}
.title-style:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.trending-img {
  position: relative;
  margin-bottom: 15px;
}
.trending-img img {
  width: 100%;
  border-radius: 20px;
}
.btn-play {
  text-align: center;
  width: 150px;
  padding: 10px 0;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background: #fff;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: 0.6s;
  opacity: 0;
  z-index: 1;
}
.trending-img:hover .btn-play {
  transform: translate(-50%, 50%);
  bottom: 50%;
  opacity: 0.5;
}
.overaly {
  height: 0%;
  width: 100%;
  background: #333;
  position: absolute;
  top: 0;
  opacity: 0.5;
  transition: 0.5s;
}
.trending-img:hover .overaly {
  opacity: 0.5;
  height: 100%;
  border-radius: 20px;
}
.serv-btn {
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.514);
  padding: 10px 20px;
  text-align: center;
}
.title-page {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -120px;
}
.title-page hr {
  width: 200px;
  border: 1px solid black;
  opacity: 0.5;
  margin: auto;
}
.title-page h1 span {
  padding: 10px 20px;
  opacity: 0.8;
}
.btn-hr {
  width: 600px;
  margin: auto;

  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

.services-btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.services-btn h1 span {
  background-color: rgba(12, 12, 12, 0.8);
  padding: 10px 100px;
  cursor: pointer;
  color: white;
  opacity: 0.8;
}
.services-btn h1 {
  font-size: 1.5rem;
}

/* ---- Services ---- */

#section-services {
  width: 100%;
  margin-top: 70px;
}

#container-services {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  margin-top: -300px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, "Open Sans", Arial, sans-serif;
  overflow: hidden;

  /* background-color: lightgray; */
}

#section-services #container-services {
  padding: 30px 0 50px 0;
}

#section-services.bg {
  background: #f7f7f7;
}
/*
    Header
  */

/*
    Slider
  */

#section-services .slider,
#section-services .footer {
  background: #333;
}
#section-services {
  /* padding-top: 20rem; */
  margin-top: 400px;
  margin-bottom: 100px;
  background-position-x: 0%;
  background-position-y: 60%;

  background-size: cover;
  background-image: url("https://images.pexels.com/photos/4761785/pexels-photo-4761785.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}

/* 
    Columns 
  */

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.four {
  width: 23%;
  font-family: "Quicksand", sans-serif;
  margin: 0 1%;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}

.col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col .service,
.col .feature {
  font-size: 21px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.col .feature {
  font-size: 19px;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col:hover > .icon {
  background: #333;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}
/*
      Column specifics
    */

.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}

.col .imgholder {
  height: 300px;
  width: 100%;
  background: #333;
  transition: background 0.3s linear;
}

.col.bg {
  background: #fff;
}

.col.pointer {
  cursor: pointer;
}

.col.bg:hover .imgholder {
  background: #555;
}

.col span.feature {
  font-size: 20px;
}
/*
      Text
    */

#container-services > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

#container-services > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.footer {
  margin-top: 70px;
  background-color: #343a40;
  padding: 40px;
}
.footer h1 {
  color: #899d9a;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

.contact-section {
  background: url("https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
    no-repeat center;
  background-size: cover;
  margin-top: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 0;
}
.contact-section h1 {
  text-align: center;
  color: #ddd;
}
.border {
  width: 80px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: honeydew;
  padding: 20px 40px;
  outline: none;
  color: black;
  transition: 0.5s;
}
.contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}
.contact-form-btn:hover {
  background: #2980b9;
}

.hr-loadinng {
  width: 400px;
  margin: auto;
  border: 1px solid lightgray;
  opacity: 0.7;
}
